<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Service}}<br>
    {{.Name}} - £{{.Price}}<br>
{{end}}

</body>
</html>